<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改资料</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/ace.min.css">
    <link rel="stylesheet" href="/css/login.css">
    
</head>
<body>
        <div class="container">
    <div id="login-box" style="height: 400px;">
            <div class="widget-main">
                    <h4 class="header blue lighter bigger" style=" text-align:center; font-size: 27px;">
                        天狗会员资料修改
                    </h4>

                    <div class="space-6"></div>

                    <form class="form-vertical login-form" name="form" method="POST" action="/users/operate">
                        <fieldset>
                            <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    <input type="password" class="form-control" placeholder="密码" name="pwd" id="pwd" required="required" value=<%= list[0].password %>>
                                    <i class="icon-lock"></i>
                                </span>
                            </label>
                            <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    <input type="number" class="form-control" placeholder="请输入手机号" name="phoneNumber" id="phoneNumber" required="required" value=<%= list[0].phoneNumber %>>
                                    <i class="icon-lock"></i>
                                </span>
                            </label>
                            <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" class="form-control" placeholder="请输入昵称" name="nickname" id="nickname" required="required" value=<%= list[0].nickname %>>
                                    <i class="icon-lock"></i>
                                </span>
                            </label>
                            <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" class="form-control" placeholder="请输入年龄" name="age" id="age" required="required" value=<%= list[0].age %> >
                                    <i class="icon-lock"></i>
                                </span>
                                <span style="display: none" id="uu"><%= list[0].username %></span>
                                <span style="display: none" id="xx"><%= list[0].sex %></span>
                            </label>
                            <label style="float: left">
                                <span>性别：</span>
                                <input type="radio" name="sex" id="man" value="男"> 男
                                <input type="radio" name="sex" id="woman" value="女"> 女
                              </label>
                           

                            <div class="space"></div>

                            <div class="clearfix">
            <!--					<input name="verify"  type="text" maxlength="5" placeholder="验证码" class="form-control" style="vertical-align:middle;width:90px;display:inline" required="required"/>
                                <img id="verify" src="/index.php/Admin/verify" onclick="getVerify(this)" style="width:90px;height:33px;vertical-align:middle;cursor:pointer">-->
                                <button type="submit" class="width-100 pull-right btn btn-sm btn-primary" id="register1">
                                    <i class="icon-key"></i>
                                    确认修改
                                </button>
                                <a id="notice" style="display:none;" href="https://www.baidu.com/s?wd=%E8%B0%B7%E6%AD%8C%E6%B5%8F%E8%A7%88%E5%99%A8&amp;rsv_spt=1&amp;rsv_iqid=0xad459873000d9d97&amp;issp=1&amp;f=8&amp;rsv_bp=0&amp;rsv_idx=2&amp;ie=utf-8&amp;tn=98012088_5_dg&amp;rsv_enter=1&amp;rsv_sug3=2&amp;rsv_n=2" target="_blank">系统检测您的浏览器可能存在兼容问题，建议下载【谷歌浏览器】</a>
                            </div>

                            <div class="space-4"></div>
                        </fieldset>
                    </form>
<!--
                    
-->
<a href="users.html" class="register"></a>
    </div>
        </div>
</body>
</html>
<script src="/js/public.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src=/js/cookie.js></script>
<script>
    var user=getCookie("username");
    var user_val=$("#uu").html();
    var user_sex=$("#xx").html();
    var nickname_val=$("#nickname").val();
    if(user_sex=="男"){
        $("#man").prop("checked",true)
    }else if(user_sex=="女"){
        $("#woman").prop("checked",true)
    }

    $("#nickname").keyup(function(){
        nickname_val=$("#nickname").val();
        console.log(nickname_val)
    })
    var c1=new GcookieApi();
    
    console.log(nickname_val)
    $("#register1").click(
        function(){
            if(user==user_val){
                deleteCookie("nickname")
               c1.setCookie("nickname", nickname_val,"","","/")
            }
        }
    )
   
    
    
</script>