<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>天狗商城后台管理系统</title>
  <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <div class="container">

    <%- include('./common/head') %>

    <div class="lv-main">
      <%- include('./common/menu') %>

      <div class="body">
        <form class="form-inline search-bar" action="/users/search" method="GET">
          <input type="text" class="form-control" name="name">
          <button class="btn btn-primary">搜索</button>
        </form>

        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>序号</th>
              <th>用户名</th>
              <th>用户昵称</th>
              <th>手机号码</th>
              <th>年龄</th>
              <th>性别</th>
              <th>是否管理员</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < list.length; i++) {%>
            <tr>
              <th scope="row">
                <%=prePage+i+1 %>
              </th>
              <td class="tname">
                <%= list[i].username %>
              </td>
              <td>
                <%= list[i].nickname %>
              </td>
              <td>
                <%= list[i].phoneNumber %>
              </td>
              <td>
                <%= list[i].age %>
              </td>
              <td>
                <%= list[i].sex %>
              </td>
              <td>
                <% if(list[i].isAdmin) {%>
                <span>是</span>
                <%} else{%> <span>否</span>
                <%}%>
              </td>
              <td>
                <% if(list[i].isAdmin) {%>
                <a class="admin" href="/users/operate?id=<%= list[i]._id %>&page=<%= currentPage %>&pageSize=<%= pageSize %>">修改</a>
                <%} 
                  else{%> <a href="/users/operate?id=<%= list[i]._id %>&page=<%= currentPage %>&pageSize=<%= pageSize %>">修改</a>
                <a class="del" href="/users/delete?id=<%= list[i]._id %>">删除</a>
                <%}%>

              </td>
            </tr>
            <%}%>

          </tbody>
        </table>

        <nav>
          <ul class="pagination">
            <li>
              <a href="/users?page=<%= currentPage - 1 < 1 ? 1: currentPage - 1 %>&pageSize=<%= pageSize %>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <% for (var i = 0; i < totalPage; i++) {%>
            <li class="<%= currentPage === (i+1) ? 'active': '' %>"><a href="/users?page=<%= i+1 %>&pageSize=<%= pageSize %>">
                <%= i + 1%></a></li>
            <%}%>

            <li>
              <a href="/users?page=<%= currentPage + 1 > totalPage ? totalPage: currentPage + 1 %>&pageSize=<%= pageSize %>"
                aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>

    </div>

    <%- include('./common/foot') %>
  </div>
</body>

</html>
<script src="/js/jquery.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/public.js"></script>
<script src="/js/common.js"></script>
<script>
  //管理员无法操作其他管理员
  $(".admin").click(
    function(){
     var tname=$(this).parents().siblings(".tname").html();
     var cookieUsername=getCookie("username");
     console.log(cookieUsername)
     if($.trim(tname)!=cookieUsername){
       alert("大兄弟，无法操作其他管理员哦！")
       return false
     }
    }
  )
</script>